image: ${CI_BUILD_ENVIRONMENT_IMAGE}:${CI_BUILD_ENVIRONMENT_IMAGE_TAG}

include:
  - project: 'brgm/modelisation-geologique/templates'
    ref: master
    file:
      - 'gitlab-ci/check.yml'
      - 'gitlab-ci/build.yml'
      - 'gitlab-ci/deploy.yml'
      - 'gitlab-ci/test.yml'

variables:
  TARGET_PYTHON_PACKAGE_NAME: pycgal
  ADDITIONAL_BUILD_ON_TAG_FLAGS: "-DPYCGAL_SHIPS_GMP_AND_MPFR=ON"

stages:
  - check
  - build
  - test
  - documentation
  - deploy

pages:
  stage: documentation
  tags:
    - brgm
    - docker
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  before_script:
    - pip3 install --upgrade --find-links ./dist --no-index pycgal
    - eval "$(ssh-agent -s)"
    - echo "${DOC_DEPLOY_KEY}" | ssh-add - > /dev/null
    - export PYCGAL_PACKAGE_LOCATION=`pip3 show pycgal | grep Location | cut -d ' ' -f2`/pycgal
  script:
    - cd docs
    - sphinx-apidoc ${PYCGAL_PACKAGE_LOCATION} -o python_reference
    - sphinx-build . html
    - mv html/ ../public/
    - cd ..
    - scp -r -o StrictHostKeyChecking=no public/* ${DOC_DEPLOY_USER}@${DOC_DEPLOY_VM}:${DOC_DEPLOY_TO}
  artifacts:
    paths:
    - public
