image: ${CI_BUILD_ENVIRONMENT_IMAGE}

stages:
  - check
  - build
  - test
  - documentation
  - deploy

include:
  - project: 'brgm/modelisation-geologique/templates'
    ref: master
    file:
      - '/gitlab-ci/check.yml'
      - '/gitlab-ci/build.yml'
      - '/gitlab-ci/deploy.yml'

test:
  stage: test
  tags:
    - docker
  before_script:
    - pip3 uninstall pycgal
    - pip3 install --find-links ./dist --no-index pycgal
  script:
    # We have to cd to the test directory not to import pycgal package from source directory
    - cd test && python3 -m pytest .

test-windows:
  stage: test
  tags:
    - win10-py39
  before_script:
    - conda run --no-capture-output -n runner-py37 python -m pip uninstall --yes pycgal
    - conda run --no-capture-output -n runner-py37 python -m pip install --find-links ./dist --no-index pycgal
    - conda run --no-capture-output -n runner-py38 python -m pip uninstall --yes pycgal
    - conda run --no-capture-output -n runner-py38 python -m pip install --find-links ./dist --no-index pycgal
    - conda run --no-capture-output -n runner-py39 python -m pip uninstall --yes pycgal
    - conda run --no-capture-output -n runner-py39 python -m pip install --find-links ./dist --no-index pycgal
  rules:
    - if: $CI_COMMIT_TAG
  script:
    # We have to cd to the test directory not to import pycgal package from source directory
    - conda run --cwd test --no-capture-output -n runner-py37 python -m pytest .
    - conda run --cwd test --no-capture-output -n runner-py38 python -m pytest .
    - conda run --cwd test --no-capture-output -n runner-py39 python -m pytest .

pages:
  stage: documentation
  tags:
    - brgm
    - docker
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  before_script:
    - pip3 install --upgrade --find-links ./dist --no-index pycgal
    - eval "$(ssh-agent -s)"
    - echo "${DOC_DEPLOY_KEY}" | ssh-add - > /dev/null
    - export PYCGAL_PACKAGE_LOCATION=`pip3 show pycgal | grep Location | cut -d ' ' -f2`/pycgal
  script:
    - cd docs
    - sphinx-apidoc ${PYCGAL_PACKAGE_LOCATION} -o python_reference
    - sphinx-build . html
    - mv html/ ../public/
    - cd ..
    - scp -r -o StrictHostKeyChecking=no public/* ${DOC_DEPLOY_USER}@${DOC_DEPLOY_VM}:${DOC_DEPLOY_TO}
  artifacts:
    paths:
    - public
