include:
  - project: ${GITLAB_CI_TEMPLATES}
    ref: ${GITLAB_CI_TEMPLATES_VERSION}
    file:
      - 'gitlab-ci/default-skbc-pipeline.yml'

variables:
  TARGET_PYTHON_PACKAGE_NAME: pycgal
  ADDITIONAL_BUILD_FLAGS: "-Ccmake.define.PYCGAL_SHIPS_GMP_AND_MPFR=ON"
