# back-up files
*~
*.bak
*.orig
.history*

# compiled python files
*.py[cod]
*.egg-info
*.so

# debugger files
*.pdb

# binary directory
__pycache__*
build/*
_skbuild/*
dist/*

# IDE config
*.kdev*
.kdev*
.vscode*
.atom*

# CMake
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles*
Makefile
cmake_install.cmake

# CMake templates
# This line is temporary will be removed when issue #7 is solved
src/pyCGAL/packages/*/*.cpp

# OS temp
.DS_Store
.ini

# test outputs
*.png
*.off
*.vtu

# numpy
*.npy
*.npz
