image: ${CI_BUILD_IMAGE}

include:
  - project: ${GITLAB_CI_TEMPLATES}
    ref: ${GITLAB_CI_TEMPLATES_VERSION}
    file:
      - 'gitlab-ci/workflow.yml'
      - 'gitlab-ci/check.yml'
      - 'gitlab-ci/build.yml'
      - 'gitlab-ci/deploy.yml'
      - 'gitlab-ci/test.yml'
      - 'gitlab-ci/documentation.yml'

variables:
  TARGET_PYTHON_PACKAGE_NAME: pycgal
  CI_BUILD_TYPE: Release
  ADDITIONAL_BUILD_ON_TAG_FLAGS: "-DPYCGAL_SHIPS_GMP_AND_MPFR=ON"

stages:
  - check
  - build
  - test
  - documentation
  - deploy
