image: ${CI_BUILD_ENVIRONMENT_IMAGE}:${CI_BUILD_ENVIRONMENT_IMAGE_TAG}

include:
  - project: 'brgm/modelisation-geologique/templates'
    ref: master
    file:
      - 'gitlab-ci/check.yml'
      - 'gitlab-ci/build.yml'
      - 'gitlab-ci/deploy.yml'
      - 'gitlab-ci/test.yml'

variables:
  TARGET_PYTHON_PACKAGE_NAME: pycgal
  ADDITIONAL_BUILD_ON_TAG_FLAGS: "-DPYCGAL_SHIPS_GMP_AND_MPFR=ON"

stages:
  - check
  - build
  - test
  - deploy
