image: ${CI_BUILD_ENVIRONMENT_IMAGE}

stages:
  - check
  - build
  - test
  - deploy

check_version_and_format:
  stage: check
  tags:
    - docker
  #only:
  #  - merge_requests
  script:
    - python3 check_git_tag_against_version.py
    # We could check format only for merge requests
    # using only merge_requests
    # and CI_MERGE_REQUEST_SOURCE_BRANCH_SHA and CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    # variables but the latest are not correclyt set
    - git fetch origin master
    - merge_base=$(git merge-base origin/master HEAD)
    - changed_files=$(git diff --no-ext-diff --name-only ${merge_base}...HEAD)
    - echo "Changed files:" ${changed_files}
    - pre-commit run --files ${changed_files}

build:
  stage: build
  tags:
    - docker
  script:
    - python3 setup.py bdist_wheel
  artifacts:
    paths:
    - dist/
    expose_as: wheel
    when: on_success

build-windows:
  stage: build
  tags:
    - win10
  script:
    - python setup.py bdist_wheel %SCIKITBUILD_OPTIONS%
  rules:
    - if: $CI_COMMIT_TAG
  artifacts:
    paths:
    - dist/
    expose_as: wheel
    when: on_success

test:
  stage: test
  tags:
    - docker
  before_script:
    - pip3 install --upgrade --find-links ./dist --no-index pycgal
  script:
    # We have to cd to the test directory not to import installed pycgal package
    - cd test && python3 -m pytest .

deploy-stage:
  stage: deploy
  tags:
    - brgm
    - docker
  only:
    - master
  script:
    - twine upload -u ${REGISTRY_NEXUS_USER} -p ${REGISTRY_NEXUS_PASSWORD} --repository-url ${REGISTRY_NEXUS}/pypi-stage/ dist/*
  when: manual

deploy-release:
  stage: deploy
  tags:
    - brgm
    - docker
  only:
    - tags
  except:
    - branches
  script:
    - twine upload -u ${REGISTRY_NEXUS_USER} -p ${REGISTRY_NEXUS_PASSWORD} --repository-url ${REGISTRY_NEXUS}/pypi-releases/ dist/*
  when: manual
