#include <pyCGAL/typedefs.h>
// generic definition of wrapping utilities
#include <pyCGAL/wrap/@PYCGAL_WRAPPER_PATH@/@PYCGAL_MODULE_ELEMENT@.h>
// per package definition of wrapped element
#include "@PYCGAL_MODULE_ELEMENT@.h"

namespace pyCGAL::@PYCGAL_MODULE_NAMESPACE@ {

void wrap_@PYCGAL_MODULE_ELEMENT@(py::module& module) {
  pyCGAL::wrap_element(@PYCGAL_MODULE_ELEMENT@{}, module);
}

}  // namespace pyCGAL::@PYCGAL_MODULE_NAMESPACE@
